<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symmetric Encryption Demo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">


</head>
<body>
    <h1>Symmetric Encryption Demo</h1>
    <ul>
        <li><a href="{{ url_for('encrypt') }}">Encrypt Message</a></li>
        <li><a href="{{ url_for('upload') }}">Encrypt File</a></li>
        <li><a href="{{ url_for('decrypt') }}">Decrypt Message/File</a></li>
        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
    </ul>
</body>
</html>
